.wrap{
    max-width: 1920px;
    margin: 0 auto;
}

/* header */

.navigation_wrapper{
    max-width: 1920px;
    background: #344051;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 40px;
    
}

.header_title{
    color: #fff;
    margin: 26px 0;
    font-size: 26px;
}

.nav_list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 26px 0;
    font-size: 20px;
}

.nav_link{
    transition: .5s;
}

.nav_link:hover{
    opacity: 0.7;
}

.link_text{
    color: aliceblue;
    margin-left: 40px;
}

.body_header_wrapper{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0,0.9);
}


.body_header{
    max-width: 1920px;
    background: url(../img/main.jpg);
    position: relative;
}

.boy_img{
    max-height: 917px;
}

.iam{
    text-align: center;
}

.header_text_title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5em;
    font-style:normal;
    color: #2c384a; 
}

.header_text_text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10pt;
    font-style:normal;
    color: #79818c;
    text-align: center;
    margin: 33px 0px 55px 0px;
}


.links{
    display: flex;
    justify-content: space-around;
}

.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 9pt;
    color: #6d7682;
    border: 2px solid #6d7682;
    padding: 15px;
    border-radius: 3px;
    transition: .7s;
}

.btn:hover{
    opacity: .7;
}

/* about */


.about_wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}

.about_title, .titles{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 30pt;
    color: #263244;
    padding: 60px 0px 40px 0px;
    text-transform: uppercase;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.line_inside{
    width: 70px;   
    border: 1px solid #d17700;
    background-color: #d17700;
}

.about_photo{
    padding-bottom: 35px;
}
.about_text{
    max-width: 750px;
    padding-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal; 
    color: #3f495a;
    opacity: .7;
}

.about_btn{
    max-width: 175px;
    max-height: 40px;
    border: 2px solid #3f495a;
    border-radius: 5px;
    transition: .7s;
}

.btn_list{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn_list_item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #6f707e;
    margin: auto;
}

.about_btn:hover{
    opacity: .7;
}


/* whatican */

.whtaican_wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(../img/background_whatican.png);
    padding-bottom: 40px;
}

.whatican_list{
    display: flex;
}

.whatican_list_img{
    padding-bottom: 30px;
}

.whatican_list_title{
    font-style: normal;
    font-weight: 600;
    padding-bottom: 20px;
    color: #e78337;
}

.whatican_list_text{
    max-width: 215px;
    font-style: normal;
    font-weight: 600;
    opacity: .7;
    margin: auto 70px;
}

/* cases */

.case_wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}

.case_text{
    font-family: 'Calibri',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12pt;
    color: #3f495a;
    opacity: .8;
    padding-bottom: 45px;
}

.case_footer{
    max-width: 1169px;
    display: flex;
}

.list_case{
    text-align: left;
}

.project_list{
    text-align: left;
}

.list_project{
    padding-left: 80px;
}

.case_list_item_title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #384354;
}

.case_list_item_text{
    font-family: 'Calibri',sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #3f495a;
    opacity: .8;
    padding-bottom: 10px;
}

.case_list_item_btn{
    padding-top: 5px;
}

.case_btn{
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: #63b5ae;
    text-transform: uppercase;    
    border-radius: 5px;
    transition: 1s;
}

.case_btn:hover{
    opacity: .7;
}


.list_project_title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 5px;
    color: #384354; 
}

.list_project_text{
    color: #3f495a;
    opacity: .7;
}

/* price */

.price_wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
}


.price{
    max-width: 900px;
}


.list_wrapper{
    width: 900px;
}

.price_list{
    text-align: left;
}

.list_header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #1c2534;
}

.price_select{
    width: 900px;
    height: 50px;
    background-color: #9ca0a7;
    opacity: .5;
}

.price_form{
    padding: 10px 0px 20px 0px;
}

.price_form:hover{
    opacity: .7;
}

.line_inside_price{
    width: 900px;   
    border: 1px solid #9ca0a7;
    background-color: #9ca0a7;
}

.time_and_price{
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
}

.tap_text,
.tap_num{
    text-align: left;
    padding-top: 20px;
}

.tap_text > h3{
    padding-bottom: 10px
}

.tap_num > p{
    padding-bottom: 10px;
}

/* stats */

.stat_wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    background: url(../img/stats_main.png);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stat_list_img{

}

.stat_list{
    width: 900px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.stat_list_img{
    padding-bottom: 30px;
}

.stat_list_title{
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
    padding-bottom: 30px;
}

.stat_list_text{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
}


.stat_list > .stat_list_title{
    align-self: center;
}